name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  precheck:
    runs-on: self-hosted
    env:
      MOOSE_JOBS: 32
      MOOSE_TEST_JOBS: 12
    steps:
      - uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      - name: Build MOOSE
        working-directory: ./test
        run: make -j ${MOOSE_JOBS}
      - name: Test MOOSE
        working-directory: ./test
        run: ./run_tests -j ${MOOSE_TEST_JOBS}
